<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/css/index2.css" />

    <title>dfdsff</title>
</head>
<body>
<div class="_3TBoD">
    <div class="_3mJdF">
        <div class="H5I6J">
            <img class="_2tuBw _12_oN _3sCWI" width="254" height="165" alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/o9wdgjsc7syyzkdybtiz">
        </div>
    </div>
    <div class="_2Fixt"><div class="_1WDSQ">
        <div class="U-jcg">
            <div class="OEfxz">
            <h1 title="Kwality Walls" class="_3aqeL">Kwality Walls</h1>
        </div>
        </div>
        <div class="_2cMZ_"><span class="_20F32">
            <span>
                <span class="icon-star _2n5YQ">

                </span>4.5
            </span>
        </span>
            <span class="_20F32">
                <span class="_27qo_">23 MINS</span>
            </span><span class="_20F32">
                <span>₹ 300</span> for two
            </span>
        </div>
        <div class="_1BpLF">
            <div class="_3Plw0 JMACF">Ice Cream, Desserts</div>
            <div class="Gf2NS _2Y6HW">Saradha college road, Peramanur</div>
            <br>
            <div class="_2aZit _2fC4N"><div class="_2iUp9 ">
                <div class="_2l3H5">
                    <span>
                        <span class="icon-star _2n5YQ">

                        </span>4.5
                    </span>
                </div>
                <div class="_1De48">
                    <span class="_1iYuU">500+ ratings</span>
                </div>
            </div>
                <div class="_2iUp9 ">
                    <div class="_2l3H5">
                        <span class="_27qo_">23 MINS</span>
                    </div>
                    <div class="_1De48">Delivery Time</div>
                </div>
                <div class="_2iUp9 ">
                    <div class="_2l3H5">
                        <span>₹ 300</span>
                    </div>
                    <div class="_1De48">Cost for two</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="Z4sK8"><div class="_2FyFZ icJ_O">
        <div class="QWCzK">Offer</div>
        <div class="_3F2Nk">
            <div class="DM5zR">
                <span class="icon-offer-filled _26GkL"></span>
                <div class="_3lvLZ">60% off up to ₹120 | Use code STEALDEAL</div>
            </div>
            <div class="DM5zR"><span class="icon-offer-filled _26GkL"></span>
                <div class="_3lvLZ">20% off | Use code UNLIMITED
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="static/js/index1.js"></script>
<script src="https://res.cloudinary.com/swiggy/raw/upload/static-assets/production_ci_dweb/js/manifest.0b4d0d537721576.js" defer="defer"></script>
<script src="https://res.cloudinary.com/swiggy/raw/upload/static-assets/production_ci_dweb/js/vendor.0b4d0d537721576.js" defer="defer"></script>
<script src="https://res.cloudinary.com/swiggy/raw/upload/static-assets/production_ci_dweb/js/app.0b4d0d537721576.js" defer="defer"></script>
</body>
</html>